<div class='sidebar'>
  <div class='left-sidebar'>
    <div class='left-sidebar-title'>
      <div>
        <p class='ptitle'>图表选项配置</p>
      </div>
    </div>
    <div class='left-sidebar-content clearfix'>
      <div class="row">
        <div class="col-xs-6 col-md-4">
          <label>默认背景：</label>
          <input type='text' class='form-control'/>
        </div>
        <div class="col-xs-6 col-md-4">
          <label>图片渲染</label>
          <input type='text' class='form-control'/>
        </div>
        <div class="col-xs-6 col-md-4">
          <label>图片渲染</label>
          <input type='text' class='form-control'/>
        </div>
        <div class="col-xs-6 col-md-4">
          <label>图片渲染</label>
          <input type='text' class='form-control'/>
        </div>
      </div>
    </div>
  </div>
</div>
